html, body, #app {
    background: #C61F48;
    font-family: "Roboto", sans-serif;

    @apply
    w-full
    h-full
}

.card {
    max-height: 730px;
}

.map{
    height: 500px;
}

.vertical-divider{
    width: 1px;

    @apply
    h-full
    bg-dark-600
}
.horizontal-divider{
    height: 1px;

    @apply
    w-full
    block
    bg-dark-600
}

.abcRioButton, .abcRioButtonBlue{
    width: 100% !important;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.fade-enter-to,
.fade-leave-from {
    @apply opacity-25
}

.loginFade-enter-active,
.loginFade-leave-active {
    transition: opacity 0.3s ease;
}

.loginFade-enter-from,
.loginFade-leave-to {
    opacity: 0;
}

.loginFade-enter-to,
.loginFade-leave-from {
    @apply opacity-100
}

.error-enter-active,
.error-leave-active {
    transition: opacity 0.3s ease;
}

.error-enter-from,
.error-leave-to {
    opacity: 0;
}

.error-enter-to,
.error-leave-from {
    opacity: 1;
}

.skeleton-box {
    display: inline-block;
    height: 1.5rem;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    background-color: #DDDBDD;
}
.skeleton-box::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
    -webkit-animation: shimmer 2s infinite;
    animation: shimmer 2s infinite;
    content: "";
}
@-webkit-keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}
@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}

.profile-table tr td:first-child{
    width: 8rem;
}
.profile-table tr td:last-child{
    width: calc(100% - 2px);
}

.profile-table tr td{
    color: #5E5E5E;
    @apply p-2 font-medium text-sm
}